* {
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    gap: 10px;
}

#sidebar > div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

li {
    list-style: none;
}

#content > div {
    cursor: pointer;
}

.high {
    background-color: red;
}

.medium {
    background-color: orange;
}

.low {
    background-color: green;
}